body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
#webcam, #canvas, #three-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  transform: scaleX(-1);
}
#recycle-bin {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 160px;
  height: 160px;
  z-index: 20;
  pointer-events: none;
}
#recycle-bin.active {
  filter: drop-shadow(0 0 10px #ff0000);
  transform: scale(1.1);
  transition: transform 0.2s, filter 0.2s;
}
#instructions {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
  /* color: white; */
  /* background: rgba(0, 0, 0, 0.5); */
  /* padding: 10px 15px; */
  /* border-radius: 10px; */
  /* font-family: sans-serif; */
  /* font-size: 14px; */
  /* z-index: 30; */
}

#links-para{
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
}

a {
    color: #0000FF !important;
}


.text-box {
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 4px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid black;
    font-size: clamp(13px, 2vw, 15px);
    text-align: center;
    z-index: 200;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out, box-shadow 0.2s ease;
}

#message-input {
    position: absolute;
    top: 45px;
    left: 5px;
    z-index: 300;
    min-width: 250px;
    max-width: 274px;
}

#text-input, #image-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #686868;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#image-input {
    font-size: 14px;
}

#color-picker {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    justify-content: center;
}

.color-option {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-option.selected {
    border-color: #000000;
    border-width: 3px;
}

#add-message {
    width: 100%;
    padding: 8px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#add-message:hover {
    background-color: #2300d4;
}